:root {
  --main-black-color: #101828;
  --main-text-color: #475467;
  --main-gray-color: #6c717b;
  --main-button-color: #e44848;
  --main-button-hover-color: #d84343;
  --main-rating-color: #ffc531;
  --main-gray-light-color: #dadde1;
  --main-badges-color: #f2f4f7;
  --main-inputs-color: #f7f7f7;
  --main-white-color: #ffffff;

  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

button {
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}